body 
{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #1e1e2f;
    color: #e1e1e6;
    overflow: hidden;
}
.sentence-container 
{
    display: flex;
    border: 1px solid #ccc;
    text-align: center;
    max-width: 800px;
    background: #25253e;
    padding: 30px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}
.word 
{
    display: flex;
    margin-bottom: 10px;
    margin-right: 16px;
}
.character 
{
    font-size: 24px;
    background-color: #2e2e4e;
    margin-right: 5px;
}
.faded 
{
    color:gray;
}
.done 
{
    color: rgb(8, 218, 78);
}
nav 
{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #25254d;
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: right;
}
nav button 
{
    background: #2e2e4e;
    color: #e1e1e6;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
nav button:hover 
{
    background: #3e3e5e;
}
#errorCount
{
    color: #ff5555;
    background-color: #3e3e58;
    padding: 5px;
}
#correctCount
{
    color: #50fa7b;
    background-color: #3e3e58;
    padding: 5px;
}
#totalCharacters
{
    color: #f1fa8c;
    background-color: #3e3e58;
    padding: 5px;
}
#Timer
{
    color: #ffb86c;
    background-color: #3e3e58;
    padding: 5px;
}
#logo
{
    margin: 10px;
}